// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #f5f5f5 !important;
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;

}
::-webkit-scrollbar {
  width: 7px; height: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
   background-color: #A2A1A1;
 }
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
   height: 50px;
  background-color: #A2A1A1;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  background-color: #A2A1A1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }

/* Custom page footer */
// .footer {
//   padding-top: 19px;
//   color: #777;
//   border-top: 1px solid #e5e5e5;
// }
//
// .container-narrow > hr {
//   margin: 30px 0;
// }

/* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;
//
//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }

/* Supporting marketing content */
// .marketing {
//   margin: 40px 0;
//
//   p + h4 {
//     margin-top: 28px;
//   }
// }

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

  /* Remove the padding we set earlier */
  // .header,
  // .marketing,
  // .footer {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
  /* Space out the masthead */
  // .header {
  //   margin-bottom: 30px;
  // }
  /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }



// custom styled sidebar
ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;

  &:hover,
  #logo-container:hover {
    background-color: transparent;
  }
}
ul.side-nav.fixed {
  overflow: hidden;
  // width: 30%;
  width: 341px;

  li {
    line-height: 44px;

    &.active {
      background-color: rgba(0,0,0,.05);
    }

    a {
      font-size: 13px;
      line-height: 44px;
      height: 76px;
      padding-top: 5px;
    }
  }

  ul.collapsible-accordion {
    background-color: #FFF;
  }

  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }
}

.bold > a {
  font-weight: bold;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

nav.top-nav {
  height: 59px;
  box-shadow: none;

  &.user-nav{
    margin-bottom: 71px;

    .user-image{
      width: 40px;
      height: 40px;
      margin-top: 8px;
    }
    .nav-wrapper{
      text-align: center;
    }
  }
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 0.5%;
  top: -4%;
  float: none;
  margin-left: 1.5rem;
  color: #00838F;
  font-size: 36px;
  z-index: 2;

  &.full {
    line-height: 122px;
  }

  i {
    font-size: 32px;
  }
}

// Search
#nav-mobile li.search {
  &:hover { background-color: #fff; }
  // background-color:#fbfbfb;
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;

  .search-wrapper {
    &.focused { margin: 0; }

    margin: 0 12px;
    transition: margin .25s ease;

    input#search {
      &:focus { outline: none; }

      display: block;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      height: 45px;
      margin: 0;
      padding: 0 45px 0 15px;
      border: 0;
    }

    i.material-icons {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }


  .search-results {
    margin: 0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;

    a {
      &:hover,
      &.focused {
        background-color: #eee;
        outline: none;
      }

      font-size: 12px;
      white-space: nowrap;
    }
  }
}


// contact list
.contact-item{
  height: 76px;

  img.contact-image{
    width: 49px;
    height: 49px;
    margin-top: 8px;
  }
  div.contact-details{
    border-bottom: 1px solid #eee;
    p.contact-title{
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #000;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    span.contact-time{
      font-size: 12px;
      line-height: 14px;
      margin-top: 11px;
      margin-bottom: 3px;
      color: rgba(0,0,0,0.4);
    }
    p.contactMsg-details{
      font-size: 13px;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 14px;
      color: rgba(0,0,0,.6);

    }
  }
  &:last-child{
    div.contact-details{
      border-bottom: 0;
    }
  }
}









/* 11. Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


/* 12. Grid
   ========================================================================== */

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;


/* 13. Navigation Bar
   ========================================================================== */

$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;


/* 14. Side Navigation
   ========================================================================== */

$sidenav-font-color: #444 !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding-right: 30px !default;
$sidenav-item-height: 64px !default;





@media #{$small-and-down} {
  a.button-collapse.top-nav {
    left: 5%;
  }
}

@media #{$medium-and-down} {
  nav .nav-wrapper {
    text-align: center;

    a.page-title {
      font-size: 36px;
    }
  }
}

@media #{$large-and-up} {
  .container {
    width: 85%;
  }
}


#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}


.welcome-img{
  width: 350px;
  margin: 0 auto;
  margin-top: 60px;
}

p.welcome-status{
  font-size: 2.28rem;
  color: #444;
}
.main{
  padding-left: 341px;
}
