/* Media Queries Guide */
/**********************************
  Mobiles
**********************************/

@media (max-width: 767px) {
	p.welcome-status{
        font-size: 2rem;
  }
  ul.side-nav.fixed{
    width: 280px;
  }
	div.contact-details{
		p.contact-title{
			font-size: 13px !important;
		}
		span.contact-time{
			display: none;
		}

	}
}


/**********************************
  Tablets
**********************************/

@media (min-width: 768px) and (max-width: 991px) {

  .contact-item{
    img.contact-image{
      width: 39px;
      height: 39px;
    }
    div.contact-details{
      p.contact-title{
        font-size: 13px;
      }
      span.contact-time{
        display: none;
      }

    }
  }

}

@media only screen and (max-width: 992px) {
  #front-page-nav ul.side-nav {
    li {
      float: none;
      padding: 0 15px;

      &:hover { background-color: #ddd; }
      .active { background-color: transparent; }
    }
    a {
      color: #444;
    }
  }
  .main{
        padding-left: 0;
  }
}



@media (min-width: 991px) {
  ul.side-nav.fixed{
    // width: 30% !important;
    width: 341px !important;
  }
}
