<!-- chat form -->
<form name="sendMessageForm" class="sendMessageForm" ng-submit="sendMessage()" method="post">
<!-- chat top nav  -->
  <nav class="top-nav chat-top-nav cyan darken-2">
      <div class="nav-wrapper z-depth-1">
        <div class="row">
          <!-- Contact Images -->
          <div class="col l1">
            <img src="images/flight.jpg" alt="User Image" class="circle responsive-img chat-image">
          </div>

          <!-- conatct title -->
          <div class="col l2">
            <h6 class="chat-title">Heba Atallah</h6>
          </div>

          <!-- images attach -->
          <div class="col l1 offset-l7">
            <div class="file-field input-field upload-image-container">

            <div class="uploadImage">
              <span><i class="material-icons">add_a_photo</i></span>
              <input type="file" accept="image/*" class="">
            </div>

            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" ng-model="image">
            </div>
          </div>
          </div>
        </div>
      </div>
  </nav>
<!-- /chat top nav  -->


  <!-- chat-details -->
  <div class="chat-details">
      <!-- messages -->
      <div ng-repeat="messagesDetails in chatData.messages">

        <div class="message-container">

            <div class="message-details {{messagesDetails.type}}">

              <p class="message-text">{{messagesDetails.details}}</p>
              <img ng-src="{{messagesDetails.image}}" ng-show="messagesDetails.image"  class="message-image" alt="" />
              <p class="message-time">{{messagesDetails.time}}</p>
            </div>

        </div>

    </div>
    <!-- /messages -->

    <!-- send container -->
    <div class="send-conatiner">
      <textarea name="typeMessage" class="materialize-textarea typeMessage" ng-model="message" placeholder="Write a message"></textarea>

      <div class="submit-container">
        <button type="submit" class="btn-floating waves-effect btn-large waves-light cyan darken-3 submit-message" name="name" value="">
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
    <!-- /send container -->

  </div>
  <!-- chat-details -->
</form>
<!-- / chat form -->
