<header>

  <div class="container"><a href="" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>

  <ul id="nav-mobile" class="side-nav fixed left-nav">
    <!-- userNav -->
      <nav class="top-nav user-nav blue-grey lighten-5">

        <div class="container">

          <div class="nav-wrapper">

            <img src="images/flight.jpg" alt="User Image" class="circle responsive-img user-image">

          </div>

        </div>

      </nav>
      <!-- /userNav -->

      <!-- search -->
      <li class="search grey lighten-5">

        <div class="search-wrapper card">

          <input id="search" placeholder="Search a contact" ng-model="search.name"><i class="material-icons">search</i>
          <div class="search-results"></div>

        </div>

      </li>
      <!-- /search -->

      <!-- List of contacts -->

      <!-- contact Item  -->
      <li class="contact-item" ng-repeat="contact in contacts | filter:search">

        <a href="" class="waves-effect waves-teal" ng-click="getChatById(contact.id)">

          <div class="row">
            <!-- contactImage -->
            <div class="col l3 s4">
              <img ng-src="{{contact.image}}" alt="contact Images" class="circle responsive-img contact-image"/>
            </div>
            <!--/ contactImage -->
            <!-- conatctDetails -->
            <div class="col l9 s8">

              <div class="contact-details">

                <div class="clearfix">
                    <p class="contact-title left">{{contact.name}}</p>
                    <span class="contact-time right">{{contact.time}}</span>
                </div>

                <div class="clearfix">
                    <p class="truncate contactMsg-details">{{contact.lastMessage}}</p>
                </div>
              </div>

            </div>
            <!-- /conatctDetails -->
          </div>
          <!-- /row -->
        </a>
        <!-- /link -->
      </li>
      <!-- /contact Item -->
    <!-- /List of contacts -->
    </ul>
</header>

<!-- chat form -->
<form name="sendMessageForm" class="sendMessageForm" ng-submit="sendMessage()" method="post">
<!-- chat top nav  -->
  <nav class="top-nav chat-top-nav cyan darken-2">
      <div class="nav-wrapper z-depth-1">
        <div class="row">
          <!-- Contact Images -->
          <div class="col l1">
            <img src="images/flight.jpg" alt="User Image" class="circle responsive-img chat-image">
          </div>

          <!-- conatct title -->
          <div class="col l2">
            <h6 class="chat-title">Heba Atallah</h6>
          </div>

          <!-- images attach -->
          <div class="col l1 offset-l7">
            <div class="file-field input-field upload-image-container">

            <div class="uploadImage">
              <span><i class="material-icons">add_a_photo</i></span>
              <input type="file" accept="image/*" class="">
            </div>

            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" ng-model="image">
            </div>
          </div>
          </div>
        </div>
      </div>
</nav>
<!-- /chat top nav  -->

<!-- chat-details -->
<div class="chat-details">
    <!-- messages -->
    <div ng-repeat="messagesDetails in chatData.messages">

      <div class="message-container">

          <div class="message-details {{messagesDetails.type}}">

            <p class="message-text">{{messagesDetails.details}}</p>
            <img ng-src="{{messagesDetails.image}}" ng-show="messagesDetails.image" class="message-image" alt=""/>
            <p class="message-time">{{messagesDetails.time}}</p>
          </div>

      </div>

</div>
<!-- /messages -->

<label ng-show="alertMessage" ng-model="alertMessageContent" class="alertMessage">{{alertMessageContent}}</label>
<span style="width:100px"></span>
    <!-- send container -->
    <div class="send-conatiner">
        <p class="lead emoji-picker-container">
      <textarea name="typeMessage" class="materialize-textarea typeMessage" ng-model="message" placeholder="Write a message" data-emojiable="true"></textarea>
      </p>

      <div class="submit-container">
        <button type="submit" class="btn-floating waves-effect btn-large waves-light cyan darken-3 submit-message" name="name" value="">
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
    <!-- /send container -->

  </div>
  <!-- chat-details -->
</form>
<!-- / chat form -->
  <script>
    $(function() {
      // Initializes and creates emoji set from sprite sheet

      window.emojiPicker = new EmojiPicker({

        emojiable_selector: '[data-emojiable=true]',
        assetsPath: 'images/img/',
        popupButtonClasses: 'fa fa-smile-o'
      });
      // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
      // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
      // It can be called as many times as necessary; previously converted input fields will not be converted again
      window.emojiPicker.discover();

    });
  </script>
